---
---

@import '../_sass/bootstrap';
//@import '../_sass/syntax-highlighting';
@import '../_sass/fonts/spinetree-icons';


$spinetree-primary: rgb(255, 69, 69);
$spinetree-secondary: #FF7B7B;

%oswaldbold { font-family: 'Oswald', sans-serif; font-weight:700; }
%oswald { font-family: 'Oswald', sans-serif; font-weight:400; }
%oswaldlight { font-family: 'Oswald', sans-serif; font-weight:300;}
%libre { font-family: 'Libre Baskerville', serif; }


// ******************************************************************
// text defaults
//*******************************************************************

body {
    @extend %libre;
}

p {
    margin-bottom: 30px;
}

section, header, footer, main, article, nav, aside { position: relative; }

a {
    outline: none !important;
    text-decoration: none !important;
    transition: all 225ms ease;
    color: $spinetree-secondary;

    &:hover { color: #6165FF; }
}

h1, h2, h3, h4, h5, h6 { @extend %oswaldbold; }


// ******************************************************************
// Main Content areas
//*******************************************************************

nav.navbar {
    background: rgba(0,0,0,0.2);
    border:none;
    margin: 0;
    @extend %oswaldlight;
    a {
        text-transform: uppercase;
        font-size: 16px;
    }
}

.topper {
    height: 70vh;
    padding:40px 0;
    position: relative;
    background:url('../images/pageHeaderBg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align:center;
    h1 {margin-top:200px;}
    h3 {color: #E0CFA2;}
}


// ******************************************************************
// Media Queries
//*******************************************************************

@media only screen and (max-width : 991px) {}

@media only screen and (max-width : 480px) {}