--- 
--- 
@import '../_sass/bootstrap';
@import '../_sass/normalize';
@import '../_sass/utilities';
@import '../_sass/slick';
@import '../_sass/slick-theme-spinetree';
@import '../_sass/font-awesome';

$white: #E2E5C0;

$tan1: #E6E3C5;
$tan2: #E0CFA2;
$tan3: #E4D297;
$tan4: #AEA07D;

$tangreen: #ABAF7D;

$green1: #84A585;
$green2: #7A9E7C;
$green3: #729673;
$green4: #578059;
$green5: #578059;

$brown1: #6B5D51;
$brown2: #605232;
$brown3: #333620;
$brown4: #2B2E1B;

$blue1: #86A3C5;
$blue2: #517C79;
$blue3: #4C716E;


%oswaldbold {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

%oswald {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

%oswaldlight {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

%lora {
    font-family: 'Lora', serif;
}



// ******************************************************************
// text defaults
//*******************************************************************


body {
    @extend %lora;
    background: $green1;
    color: $white;
}

p {
    @extend %lora;
    margin-bottom:30px;
    line-height:1.4;
    font-size:14px;
    letter-spacing:.6px;
}

section,
header,
footer,
main,
article,
nav,
aside {
    position: relative;
}

a {
    outline: none !important;
    text-decoration: none !important;
    transition: all 225ms ease;
    color: $tan1;
    &:hover {
        color: $tan2;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {}



h1, h2, h3, h4 {    
    text-transform:uppercase;
    letter-spacing:1px;
    color:$white;
}

h1,h2,h3 {
    @extend %oswald;
}

h1 {font-size:40px;}

h2 {
    font-size:24px;
    background: $blue2;
    padding: 10px 0;
    border-bottom: 4px solid $blue3;
    text-align: center;
    margin: 0 auto;
    z-index:100;
    position:relative;
    display:block;
    letter-spacing:0.05em;
    box-shadow: 2px 1px 5px 0px #111;
}

h3 {
    font-size: 22px;
}

h4 {
    @extend %oswaldbold;
    font-size: 18px;
}

h5 {
    @extend %oswaldlight;
    font-size:16px;
    letter-spacing:1.5px;
    color:$white;
    line-height:24px;
}


// ****************************************
// Modular content areas
// ****************************************

.socialicons {
    text-align:center;
        i {
        display:inline-block;
        margin:0 15px 0 0; 
        font-size:20px;
        background:$blue3;
        border-radius:20px;
        line-height:32px;
        width:32px;
        height:32px;
        color:$tan1;
        &:hover {background:$blue2;}
    }
}

// ******************************************************************
// Main Content areas
//*******************************************************************

nav.navbar {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    @extend %oswaldlight;
    z-index:1;
    .navmenu {   
        a {
            text-transform: uppercase;
            font-size: 16px;
            color:$white;
            margin:0 30px;
            display:inline-block;
            line-height:80px;
        }
    }
    .socialicons {
        padding:28px 0;
        text-align:right;
        a {text-align:center;}
        i {
            font-size:14px;
            height:24px;
            width:24px;
            line-height:24px;
            background:$white;
            color:black;
            &:hover {background:$tan1;}
        }
    }
}

.frontpagehero {
    height: 70vh;
    min-height:500px;
    padding: 0 0 40px;
    margin-top:-80px;
    position: relative;
    background: url('../images/pageHeaderBg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    img {
        margin: 180px auto 60px;
        max-width: 360px;
    }
    h5 {        
        @extend %oswaldlight;
        color: #fff;
        letter-spacing: 1.5px;
        margin:0 0 10px;
    }
}

.thumbs {
    
}


.work {
    background: $tangreen;
    padding-bottom: 40px;
}


.hero {
    height:200px;
    overflow:hidden;
    background-size:cover;
    background-position:top;
    background-repeat:none;
    display:block;
}


.projectcard {
    overflow:hidden;
    .row {align-items:stretch;}
    .thumbnail {
        text-align:center;
        min-height:220px;
        display:flex;
        img {
            align-self:flex-end;
            width:100%;
            max-width:320px;
            margin:0 auto;
            position:relative;
            top:10px;
        }
        }
    .meta { 
        text-align:center;
        align-self:center;
        margin:0 auto;
        h3 {
            margin-top:60px;
            font-size:24px;
            padding:0 5%;
        }
        p {
            font-style:italic;
            font-size:16px;
            color:$tan3;
            margin-bottom:0;
        }
    }
    &:hover .thumbnail img {
        top:1px;
        transition: top .4s;
    }
}


.project {
    .images {
        text-align:center;
        padding:80px 0;
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:center;
        align-items:center;
        margin: 0 auto;
        justify-content:center;    
        img {
            align-self:center;
            max-width:80%;
            display:inline-block;
            margin:40px; 
        }
    }
    .images.slides {
        padding:0 30px;
        img {margin:0 10px;}
    }
    .meta {
        background:rgba(0,0,0,.1);
        display:flex;
        text-align:center;
        color:$white;
        .content {        
            padding:100px 40px 40px;
           // align-self:center;
        }        
    }
}

.project.dark {background:$green2;}

.about {
    background: $green3;
    .content {margin:40px 0;}
    .connect {margin:40px 0;}
    p {margin-right:120px;}
    button {margin-right:100px;}
}


// ******************************************************************
// Footer
//*******************************************************************


footer {
    background: $brown3;
    border-top: 10px solid $brown4;
    text-align: center;
    padding: 60px 0 80px;
    h4 {
        color: $tan3;
    }
    li {
        float: none;
        display:inline-block;
        margin: 0 20px 0 0;
    }
    p {
        margin: 0 0 15px;
    }
}

.btn {
    @extend %oswaldlight;
    letter-spacing:.8px;
    text-transform:uppercase;
    font-size:16px;
    padding:15px 30px;
    border:none;
    box-shadow: 2px 2px 11px -4px rgba(68,68,68,1);
    color:$white;
        }
.btn-primary {
    background:$blue3; 
    &:hover {background:$blue2;}
}

// ******************************************************************
// About Page
//*******************************************************************


.bio {
    background:$green2;
}

.stats {
    background:$green2;
    .row {
        position:relative;
    }
}

.resume {
    background:$brown3;
    padding:20px 0;
}

.recommendations {
    border-top:10px solid $tan2;
    background:$tan1;
    color:$blue1;
    @extend %oswaldlight;
    font-size:16px;
    padding:100px 0 160px;
}

.sixpieces {
    background:$blue2;
    color:$tan1;
    padding:100px 0 160px;
    transform:skewY(-3deg);
    margin-top:-60px;
    .row {
        transform:skewY(3deg);
        position:relative;
        top:20px;
    }
    li {
        list-style:none;
        margin: 0 0 15px;
    }
    .page {
        background:$blue1;
        border:4px inset $blue3;
    }
    h2 {
        @extend %oswaldbold;
        color:$blue2;
    }
}

.contact {
    background:$green2;
    padding:100px 0 100px;
    position:relative;
    bottom:60px;
    margin-bottom:-60px;
}

.connect {
    text-align:center;
    padding:20px 20px 40px;
    background:$tan1;
    border:10px solid $tan3;
    box-shadow: 2px 2px 11px -4px rgba(68,68,68,1);
    max-width:320px;
    margin:0 auto;
    h4 {
        font-size:22px;
        letter-spacing:1.2px;
        color:$brown3; 
}
    .email {
        color:$green2;
        @extend %oswald;
        font-size:16px;
        margin-bottom:30px;
        text-transform:uppercase;
        display:block;
    }
}



// ******************************************************************
// Media Queries
//*******************************************************************


@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 480px) {}