---
---
@import '../_sass/bootstrap';
@import '../_sass/syntax-highlighting';


$spinetree-primary: rgb(255, 69, 69);
$spinetree-secondary: #FF7B7B;

%oswaldbold { font-family: 'Oswald', sans-serif; font-weight:700; }
%oswald { font-family: 'Oswald', sans-serif; font-weight:400; }
%oswaldlight { font-family: 'Oswald', sans-serif; font-weight:300;}
%libre { font-family: 'Libre Baskerville', serif; }


// ******************************************************************
// text defaults
//*******************************************************************

body {
    @extend %libre;
    padding-top: 51px;
}

p {
    margin-bottom: 30px;
}

section, header, footer, main, article, nav, aside { position: relative; }

a {
    outline: none !important;
    text-decoration: none !important;
    transition: all 225ms ease;
    color: $spinetree-secondary;

    &:hover { color: #6165FF; }
}

h1, h2, h3, h4, h5, h6 { @extend %oswaldbold; }


// ******************************************************************
// Main Content areas
//*******************************************************************

nav.navbar {
    margin: 0;
    @extend %oswaldlight;
    a {
        text-transform: uppercase;
        font-size: 16px;
    }
}

.topper {
    height: 100vh;
    position: relative;
    .img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
    }
}


// ******************************************************************
// Media Queries
//*******************************************************************

@media only screen and (max-width : 991px) {}

@media only screen and (max-width : 480px) {}