<section class="about-bar">
    <h2 class="titlebar">About</h2>

    <div class="container">
        <div class="row">

            <div class="content col-sm-12 col-md-7">
                <p>By this time their destined victim appeared from his cabin. He was a small and dark, but rather delicate looking man for a sea-captain, with large whiskers and moustache, however; and wore a red cotton velvet vest with watch-seals at his side. To this gentleman, Stubb was now politely introduced by the Guernsey-man, who at once ostentatiously put on the aspect of interpreting between them.</p>
                <button type="button" class="btn btn-primary pull-right">Read More</button>
            </div>

            <div class="connect col-sm-12 col-md-5">
                <h4>Connect</h4>
                <a href="" class="email">steve@spinetree.org</a>
                <div class="socialicons">
                    <a href="">
                        <i class="fa fa-linkedin" aria-hidden="true" title=""></i>
                    </a>
                    <a href="">
                        <i class="fa fa-pinterest" aria-hidden="true" title=""></i>
                    </a>
                    <a href="">
                        <i class="fa fa-twitter" aria-hidden="true" title=""></i>
                    </a>
                    <a href="">
                        <i class="fa fa-github" aria-hidden="true" title=""></i>
                    </a>
                    <a href="">
                        <i class="fa fa-envelope" aria-hidden="true" title=""></i>
                    </a>
                </div>
            </div>

        </div>
    </div>

</section>