
    <div class="about">
    
        <a name="about">
            <h2 class="titlebar">About</h2>
        </a>
        
        <section class="bio">
            <div class="container">
                <div class="row">
                    
                    <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 col-md-4 col-md-offset-1">                        
                        <div class="container-fluid">
                            <div class="row">
                                
                                <div class="biophoto col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-10 col-md-offset-1">
                                    <img class="images frame responsive shadow" src="{{ site.data.global.url }}/images/about.jpg" />
                                </div>
                                
                                <div class="bioconnect hidden-xs hidden-sm visible-md visible-lg col-md-10 col-md-offset-1">    
                                    <div class="socialicons">
                                        <h3>Connect</h3>
                                        <a href="ma&#105;lto&#58;steve&#64;s%70%&#54;9n%6&#53;t&#114;ee&#46;&#111;&#114;&#103;" target="_blank">
                                            <i class="fa fa-envelope" aria-hidden="true" title=""></i>
                                        </a>
                                        <a href="https://www.linkedin.com/in/steverokitka" target="_blank">
                                            <i class="fa fa-linkedin" aria-hidden="true" title=""></i>
                                        </a>
                                        <a href="https://www.pinterest.com/spinetreemedia/" target="_blank">
                                            <i class="fa fa-pinterest" aria-hidden="true" title=""></i>
                                        </a>
                                        <a href="https://twitter.com/spinetree" target="_blank">
                                            <i class="fa fa-twitter" aria-hidden="true" title=""></i>
                                        </a>
                                        <a href="https://github.com/spinetree" target="_blank">
                                            <i class="fa fa-github" aria-hidden="true" title=""></i>
                                        </a>
                                    </div>
                                    <div class="resumebutton">
                                        <h3>Resume</h3>
                                        <a href="{{ site.data.global.url }}/images/rokitka-resume.pdf" target"_blank">
                                            <button type="button" class="btn btn-primary resume">Download</button>
                                        </a>
                                    </div>
                                </div>

                                </div>
                            </div><!-- /container-fluid -->
                        </div><!-- /layout div -->
                            
                        <div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-6">
                                                        
                            <p>I'm Steve Rokitka (aka Steve Rocketkar). Product designer, UI/UX designer, design-usability-content unicorn - however you'd like to say it, I've been building tools and experiences for over a decade.</p> 

                            <p>My career's always been a multidisciplinary one. I started out as a writer-editor, turned web designer, and rolled everything together with a liberal coating of usability research at Cornell University. I've gone deepest on mobile apps, search/catalog design and marketing site design, along with some great indie publishing, data visualization and brand/identity projects.</p>
                            
                            <p>When I'm not crafting various parts of the internet, I go on all kinds of adventures that appeal to me. In the last couple years I've painted a house, rode a motorcycle to Burning Man, took a Wilderness First Responder course, learned to fix cars at a community college, and continued my training in various martial arts.</p>

                            <p>Today, I'm back at work full-time, and always looking for awesome projects that I can be a part of. If you've got something that needs solutions found, ideas given form, stories discovered or just a bit of snark injected into a situation, drop me a line and let's get started.</p>
                        </div>
                    
                        <div class="bioconnect mobile col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3 visible-xs visible-sm">    
                            <div class="socialicons">
                                <h3>Connect</h3>
                                <a href="ma&#105;lto&#58;steve&#64;s%70%&#54;9n%6&#53;t&#114;ee&#46;&#111;&#114;&#103;" target="_blank">
                                    <i class="fa fa-envelope" aria-hidden="true" title=""></i>
                                </a>
                                <a href="https://www.linkedin.com/in/steverokitka" target="_blank">
                                    <i class="fa fa-linkedin" aria-hidden="true" title=""></i>
                                </a>
                                <a href="https://www.pinterest.com/spinetreemedia/" target="_blank">
                                    <i class="fa fa-pinterest" aria-hidden="true" title=""></i>
                                </a>
                                <a href="https://twitter.com/spinetree" target="_blank">
                                    <i class="fa fa-twitter" aria-hidden="true" title=""></i>
                                </a>
                                <a href="https://github.com/spinetree" target="_blank">
                                    <i class="fa fa-github" aria-hidden="true" title=""></i>
                                </a>
                            </div>
                            <div class="resumebutton">
                                <h3>Resume</h3>
                                <button type="button" class="btn btn-primary resmue">Download</button>
                            </div>
                        </div>

                </div><!-- /row -->
            </div><!-- /container -->    
        </section>

        <section class="stats">
            <div class="container">
                <div class="row">
                    <div class="apps col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-4 ">
                            <h3>Favorite Tools</h3>
                            <ul>
                                <li>Photoshop</li>
                                <li>Illustrator</li>
                                <li>InDesign</li>
                                <li>SASS/SCSS</li>
                                <li>Jekyll</li>
                                <li>Bootstrap</li>
                                <li>Sketch</li>
                                <li>Axure RP</li>
                                <li>Wordpress</li>
                                <li>Liquid</li>
                                <li>Git</li>
                                <li>Google Analytics</li>
                            </ul>
                    </div>
                    <div class="apps col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-4 col-md-push-4">
                            <h3>Specialties</h3>
                            <ul>
                                <li>Responsive Design</li>
                                <li>Print Design &amp; Production</li>
                                <li>Illustration</li>
                                <li>Wordpress</li>
                                <li>Shopify</li>
                                <li>Drupal</li>
                                <li>Usability Testing</li>
                                <li>Copy Writing</li>
                                <li>CMS Theme Development</li>
                            </ul>
                    </div>

                    <div class="skills">
                        <div class="languages col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-pull-4 col-md-offset-0">
                            <div class="content">
                                <h4>Languages</h4>
                                <ul>
                                    <li>HTML <span>fluent</span></li>
                                    <li>CSS <span>fluent</span></li>
                                    <li>PHP <span>conversational</span></li>
                                    <li>jQuery <span>conversational</span></li>
                                    <li>Javascript <span>basic</span></li>
                                    <li>Ruby <span>basic</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
    </div><!-- /about -->