<section class="about-bar">
    <h2 class="titlebar">About</h2>

    <div class="container">
        <div class="row">

            <div class="description col-sm-12 col-sm-offset-0 col-md-6">
                <p>Spinetree Media is the digital incarnation of multidisciplinary designer Steve Rokitka.</p>
                <a href="https://www.linkedin.com/in/steverokitka" target="_blank"><button type="button" class="btn btn-primary center-block">Read More</button></a>
            </div>

            <div class="col-sm-12 col-md-5 col-md-offset-1">
                <div class="connect">

                    <h4>Connect</h4>

                    <a class="email" href='ma&#105;lto&#58;steve&#64;s%70%&#54;9n%6&#53;t&#114;ee&#46;&#111;&#114;&#103;'>&#115;teve&#64;spinetree&#46;org</a>       

                    <div class="socialicons">
                        <a href="https://www.linkedin.com/in/steverokitka" target="_blank">
                            <i class="fa fa-linkedin" aria-hidden="true" title=""></i>
                        </a>
                        <a href="https://www.pinterest.com/spinetreemedia/" target="_blank">
                            <i class="fa fa-pinterest" aria-hidden="true" title=""></i>
                        </a>
                        <a href="https://twitter.com/spinetree" target="_blank">
                            <i class="fa fa-twitter" aria-hidden="true" title=""></i>
                        </a>
                        <a href="https://github.com/spinetree" target="_blank">
                            <i class="fa fa-github" aria-hidden="true" title=""></i>
                        </a>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>

</section>