<div class="connect">
    <h3>Connect</h3>
    <a href="" class="email">steve@spinetree.org</a>
    <div class="socialicons">
        <a href="">
            <i class="fa fa-linkedin" aria-hidden="true" title=""></i>
        </a>
        <a href="">
            <i class="fa fa-pinterest" aria-hidden="true" title=""></i>
        </a>
        <a href="">
            <i class="fa fa-twitter" aria-hidden="true" title=""></i>
        </a>
        <a href="">
            <i class="fa fa-github" aria-hidden="true" title=""></i>
        </a>
        <a href="">
            <i class="fa fa-envelope" aria-hidden="true" title=""></i>
        </a>
    </div>
</div>