<div class="connect">
    <h4>Connect</h4>
    <a class="email">steve@spinetree.org</a>
    <div class="socialicons">
        <i class="fa fa-linkedin" aria-hidden="true" title=""></i>
        <i class="fa fa-twitter" aria-hidden="true" title=""></i>
        <i class="fa fa-pinterest" aria-hidden="true" title=""></i>
        <i class="fa fa-github" aria-hidden="true" title=""></i>
        <i class="fa fa-envelope" aria-hidden="true" title=""></i>
        <i class="fa fa-instagram" aria-hidden="true" title=""></i>
    </div>
</div>