<section class="contact-bar">

    <div class="container">
        <div class="row">

            <div class="col-sm-12 col-md-2">
                    <h3>Contact</h3>
            </div>

            <div class="col-sm-12 col-md-4">
                <p>Want to get in touch? Ask questions? Drop me a line and let’s get started.</p>
            </div>    

            <div class="col-sm-12 col-md-3">
                <div class="socialicons">
                    <a href="https://www.linkedin.com/in/steverokitka" target="_blank">
                        <i class="fa fa-linkedin" aria-hidden="true" title=""></i>
                    </a>
                    <a href="https://www.instagram.com/rocketkar/" target="_blank">
                        <i class="fa fa-instagram" aria-hidden="true" title=""></i>
                    </a>
                    <a href="https://twitter.com/spinetree" target="_blank">
                        <i class="fa fa-twitter" aria-hidden="true" title=""></i>
                    </a>
                    <a href="https://github.com/spinetree" target="_blank">
                        <i class="fa fa-github" aria-hidden="true" title=""></i>
                    </a>
                </div>
            </div>
            

            <div class="col-sm-12 col-md-2">
                    <div class="contactbutton">
                        <a href="mailto:steve@spinetree.org" target"_blank">
                            <button type="button" class="btn btn-primary email">contact</button>
                        </a>                  
                    </div>
            </div>
                    

        </div>
    </div>

</section>