<!doctype html>
<!--[if lt IE 7 ]><html itemscope itemtype="http://schema.org/{% if page.id or post.id %}Article{% else %}Organization{% endif %}" id="ie6" class="ie ie-old" lang="en-US"><![endif]-->
<!--[if IE 7 ]>   <html itemscope itemtype="http://schema.org/{% if page.id or post.id %}Article{% else %}Organization{% endif %}" id="ie7" class="ie ie-old" lang="en-US"><![endif]-->
<!--[if IE 8 ]>   <html itemscope itemtype="http://schema.org/{% if page.id or post.id %}Article{% else %}Organization{% endif %}" id="ie8" class="ie ie-old" lang="en-US"><![endif]-->
<!--[if IE 9 ]>   <html itemscope itemtype="http://schema.org/{% if page.id or post.id %}Article{% else %}Organization{% endif %}" id="ie9" class="ie" lang="en-US"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en-US">
<!--<![endif]-->

<head>

    <!-- Meta -->
    <meta charset="utf-8">

    <title>Spinetree Media</title>

    <meta name="description" content="Print | Web | UI | UX" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="{{ site.data.global.title }} ♥ {{ site.data.global.description }}" href="{{ site.data.global.url }}/feed.xml">
    <link rel="alternate" type="application/atom+xml" title="{{ site.data.global.title }} ♥ {{ site.data.global.description }}" href="{{ site.data.global.url }}/atom.xml">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@publisher_handle">
    <meta name="twitter:title" content="Page Title">
    <meta name="twitter:description" content="Page description less than 200 characters">
    <meta name="twitter:creator" content="@author_handle">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="http://www.example.com/image.jpg">

    <!-- Open Graph data -->
    <meta property="og:title" content="Title Here" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://www.example.com/" />
    <meta property="og:image" content="http://example.com/image.jpg" />
    <meta property="og:description" content="Description Here" />
    <meta property="og:site_name" content="Site Name, i.e. Moz" />
    <meta property="article:published_time" content="2013-09-17T05:59:00+01:00" />
    <meta property="article:modified_time" content="2013-09-16T19:08:47+01:00" />
    <meta property="article:section" content="Article Section" />
    <meta property="article:tag" content="Article Tag" />
    <meta property="fb:admins" content="Facebook numberic ID" />

    <!-- Favicons -->
    <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64 96x96" href="{{ site.data.global.url }}/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ site.data.global.url }}/img/favicons/favicon-57.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ site.data.global.url }}/img/favicons/favicon-57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ site.data.global.url }}/img/favicons/favicon-60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.data.global.url }}/img/favicons/favicon-72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.data.global.url }}/img/favicons/favicon-76.png">
    <link rel="apple-touch-icon" sizes="96x96" href="{{ site.data.global.url }}/img/favicons/favicon-96.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.data.global.url }}/img/favicons/favicon-114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.data.global.url }}/img/favicons/favicon-120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.data.global.url }}/img/favicons/favicon-144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.data.global.url }}/img/favicons/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.data.global.url }}/img/favicons/favicon-180.png">
    <link rel="apple-touch-icon" sizes="192x192" href="{{ site.data.global.url }}/img/favicons/favicon-192.png">
    <meta name="application-name" content="{{ site.data.global.title }} | {{ site.data.global.description }}">
    <meta name="msapplication-TileImage" content="{{ site.data.global.url }}/img/favicons/favicon-144.png">
    <meta name="msapplication-TileColor" content="#ffffff">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400|Raleway:300,500,700" rel="stylesheet">
    
    <!-- Styles -->
    <link rel="stylesheet" href="{{ site.data.global.url }}/css/style.css">
    <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="{{ site.data.global.url }}/js/respond.min.js"></script>
    <![endif]-->

</head>

<body class="">
    
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="row">

                <div class="navmenu col-xs-6">
                    {% for item in site.data.nav.main %}
                    <a href="{{ item.url }}">{{ item.text }}</a> {% endfor %}
                </div>

                <div class="socialicons col-xs-6">
                    <a href="https://www.linkedin.com/in/steverokitka" target="_blank">
                        <i class="fa fa-linkedin" aria-hidden="true" title=""></i>
                    </a>
                    <a href="https://www.pinterest.com/spinetreemedia/" target="_blank">
                        <i class="fa fa-pinterest" aria-hidden="true" title=""></i>
                    </a>
                    <a href="https://twitter.com/spinetree" target="_blank">
                        <i class="fa fa-twitter" aria-hidden="true" title=""></i>
                    </a>
                    <a href="https://github.com/spinetree" target="_blank">
                        <i class="fa fa-github" aria-hidden="true" title=""></i>
                    </a>
                    <a href="ma&#105;lto&#58;steve&#64;s%70%&#54;9n%6&#53;t&#114;ee&#46;&#111;&#114;&#103;">
                        <i class="fa fa-envelope" aria-hidden="true" title=""></i>
                    </a>
                </div>

            </div>
        </div>
    </nav>

