      <section class="recommendations">
            <h3>Recommendations</h3>
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="slides">
                            
                            <div class="slide">
                                <p>"Steve listened to our vision, provided valuable input, communicated expectations and delivered on a schedule that met our challenging launch date. Steve worked very well on his own and "managed the client" very well--delivering regular but not overly detailed status reports and doing well to understand our industry and client landscape."</p>
                                <p class="attribution">Scott Lester, FCS Group</p>
                            </div>

                            <div class="slide">
                                <p>"Steve is a superlative designer and developer. His expertise, integrity and communication skills are top-notch; I couldn't ask for a better person to work with."</p>
                                <p class="attribution">Chris Davidson, Founder of GameChops</p>
                            </div>

                            <div class="slide">
                                <p>"Steve is very easy to work with and extremely responsive. He delivers on his promises, on time, and to an exceptional level of quality. Steve spends the time to get to know what his client wants, then extrapolates to exceed expectations and provide excellent results."</p>
                                <p class="attribution">William Culley, Member at Phenix Automation</p>
                            </div>

                            <div class="slide">
                                <p>"Steve is wonderful to work with. One of the things that most stood out to me about working with Steve was how willing he was to collaborate and work with me. His work is very high quality and made it easy for me to make changes there after. Steve has my highest recommendation."</p>
                                <p class="attribution">Colleen Culley, Visiting Assistant Professor of Dance at Alfred University</p>
                            </div>

                            <div class="slide">
                                <p>"Steve balances both creativity and technological expertise. I have hired him more than once to work with me on complex web programming projects. His responsiveness has always been very punctual and thorough. I definitely recommend working with him on any media project. Technologically-sound solutions as well as creative energy and skills are his specialty."</p>
                                <p class="attribution">Camilo Nascimento, Owner, Camilo Graphics &amp; Web Solutions</p>
                            </div>
                            
                            <div class="slide">
                                <p>"We found Steve to have an attention to detail and great pride in his work. When given creative liberty, Steve was able to quickly arrive at a plan and accomplish his task with quickness & quality. I would hire Steve again and recommend him to any potential employer."</p>
                                <p class="attribution">Tom Covell, Owner at Rongovian Embassy, LLC</p>
                            </div>
                            
                            <div class="slide">
                                <p>"Steve Rokitka is a singular talent. He is witty, bright, articulate and insightful combined with an ability to sum up communications issues and easily roll into apply those strategies through his ease with the web and web applications. Steve is one of those distinct hybrid individuals who can live comfortably with clients as well as complete project teams to get the work done-- meeting both groups expectations, and delivering quality results."</p>
                                <p class="attribution">Q. Cassetti, Partner, Luckystone Partners</p>
                            </div>

                            <div class="slide">
                                <p>"Steve Rokitka worked on a wide variety of design projects for my business, the Pourhouse, for four years. His 'real' intuitive creativity was a huge help to the feel of my place and in essence he created and maintained my 'brand'. He made himself available even though he was very busy with other clients, and always came through on time. He is the rare seriously creative type with a true professional work ethic. He is also just a great guy to work with, genuine and friendly."</p>
                                <p class="attribution">Elizabeth Chiron, Owner, The Tburg Pourhouse</p>
                            </div>
                        
                            <div class="slide">
                                <p>"I worked with Steve at Cornell 2008-12. He breathed life into our group - great perspective, mad skills, and a yearning to learn. He worked with the usability committee and was our best javascript/jquery hand. We'd hire him back if we could!"</p>
                                <p class="attribution">James Reidy, Web Programmer at Cornell University</p>
                            </div>
                            
                            <div class="slide">
                                <p>"Steve is a very goal oriented designer -- meticulous, and ingenious at problem solving. Always very conscious of the user experience as a totality, and a significant contributor to our group."</p>
                                <p class="attribution">Rick Silterra, Metadata Engineer at Cornell University and Higher Education Consultant</p>
                            </div>

                            <div class="slide">
                                <p>"..an integral part of our digital library group at Cornell University Library. Steve is not only a stellar web designer but also a kind and gentle person. He is always courteous and respectful of his clients and team mates. As the lead of the unit, I have only heard positive remarks about his technical skills and interpersonal abilities. We'll miss him!"</p>
                                <p class="attribution">Oya Y. Rieger, Associate University Librarian at Cornell University Library</p>
                            </div>
                            
                            <div class="slide">
                                <p>"Steve is incredibly creative and energetic. He brings fantastic ideas to any team or project and the know-how to put sophisticated web technologies to use immediately. Great to work with you, Steve & wish you weren't all the way on the other side of the country now!"</p>
                                <p class="attribution">Susette Newberry, Librarian at Cornell University</p>
                            </div>
                            
                            <div class="slide">
                                <p>"Working with Steve was a pleasure. He is highly proficient and diligent as a web developer and designer, and able to work with a wide variety of personalities and consistently meet project goals in a timely manner. Steve is someone you want on your development team, and someone you want to go get a beer with after the job is done."</p>
                                <p class="attribution">Kenneth Williams, Software Developer/Graphic Designer at Cornell University</p>
                            </div>
                            
                            <div class="slide">
                                <p>"When our library team embarked on a complete reconstruction of our website, Steve was with us through the entire journey. He was open to new ideas and was always ready to offer solutions. He ensured that our site blended well visually with our parent department meanwhile being fully aware of usability issues. I would be pleased to work with Steve again on any web design project."</p>
                                <p class="attribution">Susan Kendrick, Business Research and Data Librarian at Cornell University</p>
                            </div>

                            <div class="slide">
                                <p>"Steve was a charter member of usability group within the Cornell Library. Our goal was to build a culture or usability testing as well as develop and execute usability testing for the library. Steve was very engaged in both the process and the work we needed to do. He was thoughtful, made original and creative contributions, and was fun to work with."</p>
                                <p class="attribution">Katherine Chiang, Former Librarian and VIVO Lead, Cornell University</p>
                            </div>

                            <div class="slide">
                                <p>"Steve is focused and uncompromising when it comes to the quality of his work, and with each new project, he challenges himself to achieve a higher standard of excellence, always exceeding the client's expectations. Steve is a true artist: he loves what he does and loves to share it with others, which makes him a valuable team member, and a pleasure to work with."</p>
                                <p class="attribution">Adam Smith, Finger Lakes Beer Trail Marketing and Tourism Associates, LLC</p>
                            </div>

                            <div class="slide">
                                <p>"In addition to being knowledgeable and up-to-date in an ever-changing field, Steve has a work-ethic that allowed him to be successful with his challenging position at Cornell while taking on several free-lance jobs throughout the Ithaca community. Steve is an easygoing person with a great sense of humor and having worked with him in the past – I can tell you that he not only makes the job easier, but he makes the job a little more fun. "</p>
                                <p class="attribution">Sheri DElia, Cornell University College of Architecture, Art, and Planning</p>
                            </div>

                            <div class="slide">
                                <p>"Steve was brought on board as part of a new humanities communications effort and proved to be enthusiastic and willing to learn and to take on assignments large and small, as both a writer and designer. He did very creative work within the parameters set for him, and was a pleasure to work with. I have happily followed his growth and his career since he took on other responsibilities at the university."</p>
                                <p class="attribution">Daniel Aloi, Staff Writer/Editor at Cornell University</p>
                            </div>

                            <div class="slide">
                                <p>"Steve is a gifted illustrator. His creativity enlivened many shall we say dry projects. This resulted in increased event attendance and higher readership of articles. He is fast and brings relevant, on-point visual ideas to bear on arcane and mainstream subject matter. He's also lots of fun to work with."</p>
                                <p class="attribution">George Lowery, Managing Editor, Cornell Chronicle</p>
                            </div>

                            <div class="slide">
                                <p>"The job title is a perfect fit. Steve worked for the Cornell Chronicle for a short but happy time covering stories about the arts and contributing graphics and Web applications. I can sum up my evaluation in one word: Creativity. Visual, organizational and technical"</p>
                                <p class="attribution">Bill Steele, Editor at Cornell University</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="sixpieces">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-push-4 page">
                        <h2>Six Pieces From My Professional Life</h2>
                    </div>
                    <div class="firstpieces col-md-4 col-md-pull-4">
                        <ul>
                            <li>Be someone people can look forward to being around.</li>
                            <li>Everyone wants to feel listened to and respected. You can disagree with someone and still make them feel listened to and respected.</li>
                            <li>You can read someone's life story in the way they make a sandwich. The way you do anything is the way you do everything. </li>
                        </ul>
                    </div>
                    <div class="lastpieces col-md-4">
                        <ul>
                            <li>What someone wants and what they say they want are often different. Good design means reading between the lines.</li>
                            <li>People aren't using their logical brains as much as they think. They feel their way through most things. This is  beautiful and terrifying and beautiful again.</li>
                            <li>Don't promise all the time. Just do what you say you're going to do.</li>

                        </ul>
                    </div>
                </div>
            </div>
        </section>
