<section class="sixpieces">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-push-4 page">
                    <h2>Six Pieces From My Professional Life</h2>
                </div>
                <div class="firstpieces col-md-4 col-md-pull-4">
                    <ul>
                        <li>Be someone people can look forward to being around.</li>
                        <li>Everyone wants to feel listened to and respected. You can disagree with someone and still make them feel listened to and respected.</li>
                        <li>You can read someone's life story in the way they make a sandwich. The way you do anything is the way you do everything. </li>
                    </ul>
                </div>
                <div class="lastpieces col-md-4">
                    <ul>
                        <li>What someone wants and what they say they want are often different. Good design means reading between the lines.</li>
                        <li>People aren't using their logical brains as much as they think. They feel their way through most things. This is  beautiful and terrifying and beautiful again.</li>
                        <li>Don't promise all the time. Just do what you say you're going to do.</li>

                    </ul>
                </div>
            </div>
        </div>
    </section>