


// ******************************************************************
// Modular content components 
// ******************************************************************

.btn {
    @extend %ralewaybold;
    letter-spacing:.8px;
    text-transform:uppercase;
    font-size:18px;
    margin-top:16px;
    padding:15px 30px;
    border:none;
    color:$black2;
    border-radius: 0;
    transition: all 225ms ease;
}

.btn-primary {
    background:$yellow1; 
    &:hover {background:$pink;}
}

.btn-secondary {
    background:$teal;
    color: $white2; 
}


.titlebar {
    padding: 16px 0;
    border-bottom: 2px solid $white2;
    text-align: center;
    margin: 24px 16px;
    z-index: 100;
    position: relative;
    display: block; 
    a {color:$black2;}
}

@media only screen and (max-width: 767px) {
        .titlebar {
            padding:8px 0;
            margin: 0 8px 8px
        }
}


.socialicons {
    text-align:center;
        i {
        display:inline-block;
        margin:16px 4px 8px 0; 
        font-size:24px;
        line-height:40px;
        width:40px;
        height:40px;
        color:$teal;
        transition: all 225ms ease;
        &:hover {color:$yellow1;}
    }
}

.socialicons__small {
    i {
        margin-top:0px;
        font-size:20px;
    }
}



body.home nav.navbar .navbarlogo {display:none;}


nav.navbar {
    background: $black1;
    border-top:none;
    border-bottom:none;
    z-index:100;
    position:absolute;
    top:0;
    width:100%;
    border-radius:0;
    li {margin-bottom:0;}
    .navbarmain {   
        a {
            @extend %raleway;
            text-transform: uppercase;
            font-size: 16px;
            color:$white1;
            line-height:40px;
            &:hover {color:$pink;}
        }
    }
    .navbarlogo {
        width:60px;
        position:absolute;
        left:50%;
        top:14px;
        a {padding:0;}
        img {
            width:100%;
            margin-left:-30px;
        }
    }

}

.navbar-inverse {
border:none;
}

.navbar-toggle {
    border:none;
}

@media only screen and (max-width: 767px) {
    nav.navbar {
        // border-bottom: 3px solid $black2;
        .navbarlogo {top:0;}
    }
    #navbar { 
        background:$black3;
        text-align:center;
        .navbarsocial {
            margin:20px auto; 
            text-align:center;
            li {
                display:inline-block;
                a {padding:10px 20px;}
                i {font-size:18px;}
            }
        }
    }
}


// ******************************************************************
// Project Cards
//*******************************************************************


.project-grid {
    padding:0 16px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    display:grid;
}

.project-card {
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:minmax(120px,220px);
    position:relative;
    overflow:hidden;
    align-items:center;
   
    .project-thumbnail {
        text-align: center;
        .project-thumbnail-image {
            max-width: 320px;
            margin-bottom:-10px;
        }
    }

    .project-meta {
        text-align: center;
        padding:16px;
        .project-title {
            place-self:center;
            color:$white2;
            font-size:30px;
            text-transform:lowercase;
            padding:0 0 0 8px;
            margin-top:0;
        }
        .project-type {
            color: $tan0;
            margin-bottom: 0;
            padding:0 8px;
        }
    }

    &:hover .project-thumbnail-image {
        transform: scale(1.04); 
    }
}

// @media only screen and (min-width: 1200px) {
//     .project-grid {
//         grid-template-columns: 1fr 1fr 1fr;
//     }
// }

@media only screen and (max-width: 1199px) {
    .project-card {
        grid-template-columns: 1fr;
        .details {min-height:140px;
            .content {top:48px;}
        }   
    }
}

@media only screen and (max-width: 991px) {
    .project-grid {
        grid-template-columns: 1fr;
    }
    .project-card {
        grid-template-columns: 1fr 1fr;        
    }
}

@media only screen and (max-width: 767px) {
    .project-card {
        grid-template-columns: 1fr;        
        .details {min-height:88px;
            .content {top:16px;}
        .project-title {
            font-size:24px;
            line-height:1.2;
            padding-bottom:0;
            }
        .project-type {
            font-size:14px;
            line-height:1.4;
            }
        }   
    }
}



// ******************************************************************
// About/Contact bar on work pages
//*******************************************************************

.contact-bar {
    background: $black4;
    padding:64px 32px;
    p {color:$white1;}
    h3 {color: $white1;}
    .socialicons i {
        color:$yellow1;
        &:hover {color:$pink;}
        }
    }

@media only screen and (max-width: 892px) {
    .contact-bar {text-align:center;}
}



// ******************************************************************
// Footer
//*******************************************************************


footer {
    background: $black1;
    border-top: 30px solid $black2;
    text-align: center;
    padding: 50px 0 60px;
    h4 {
        color: $tan1;
    }
    ul {margin-top:0;}
    li {
        float: none;
        display:inline-block;
        margin: 0 20px 0 0;
        color:$tan1;
    }
    p {
        color:$tan1;
    }
    a {
        margin-top:16px;
        @extend %ralewaylight;
        text-transform: uppercase;
        font-size: 14px;
        color:$tan0;
        display:inline-block;
        padding:0 15px;
    }
}

@media only screen and (max-width: 991px) {
    footer {
        padding:20px 0 60px;
        h4 {margin-top:60px;}
    }
}






// ******************************************************************
// Carousel
//*******************************************************************

.slides {
    padding:16px 0 0px;
    .slick-next {right:-40px;}
    .slick-next:hover {color:$pink;}
    .slick-prev {left:-40px;}
    .slick-prev:before, 
    .slick-next:before {
        font-family: "slick";
        font-size: 30px;
        line-height: 1;
        color: $teal;
        opacity: 0.75;
        -webkit-font-smoothing: antialiased;
    }
    .slick-dots {
        bottom:-30px; 
        padding:0 10%;}
    .slick-dots li button:before {
        content: "●";
        color: $teal;
        width: 16px;
        height: 16px;
        font-family: "slick";
        font-size: 16px;
        line-height: 20px;
    }    
    .slide {
        p {padding:0 30px;}
    }
}

@media only screen and (max-width: 990px) {
    .slides {padding-bottom:20px;}   
}

@media only screen and (max-width: 405px) {
    .slides {padding-bottom:40px;}   
}