


// ******************************************************************
// Modular content components 
// ******************************************************************

.btn {
    @extend %ralewaybold;
    letter-spacing:.8px;
    text-transform:uppercase;
    font-size:18px;
    padding:15px 30px;
    border:none;
    color:$black2;
    border-radius: 0;
}

.btn-primary {
    background:$yellow1; 
}

.btn-secondary {
    background:$teal;
    color: $white2; 
}

.titlebar {
    padding: 16px 0;
    border-bottom: 2px solid $white2;
    text-align: center;
    margin: 0 16px 16px;
    z-index: 100;
    position: relative;
    display: block; 
    a {color:$black2;}
}


.socialicons {
    text-align:center;
        i {
        display:inline-block;
        margin:0 4px 8px 0; 
        font-size:24px;
        line-height:40px;
        width:40px;
        height:40px;
        color:$teal;
        &:hover {color:$yellow2;}
    }
}

.socialicons__small {
    i {
        font-size:14px;
    }
}



body.home nav.navbar .navbarlogo {display:none;}


nav.navbar {
    background: $black2;
    border-top:none;
    border-bottom:none;
    z-index:100;
    position:absolute;
    top:0;
    width:100%;
    border-radius:0;
    li {margin-bottom:0;}
    .navbarmain {   
        a {
            @extend %raleway;
            text-transform: uppercase;
            font-size: 12px;
            color:$white1;
            line-height:40px;
        }
    }
    .navbarlogo {
        width:60px;
        position:absolute;
        left:50%;
        top:14px;
        a {padding:0;}
        img {
            width:100%;
            margin-left:-30px;
        }
    }

}

@media only screen and (max-width: 767px) {
    nav.navbar {
        border-bottom: 3px solid $black2;
        .navbarlogo {top:0;}
    }
    #navbar { 
        background:$black3;
        text-align:center;
        .navbarsocial {
            margin:20px auto; 
            text-align:center;
            li {
                display:inline-block;
                a {padding:10px 20px;}
                i {font-size:18px;}
            }
        }
    }
}


// ******************************************************************
// Project Cards
//*******************************************************************

.projectcard {
    overflow: hidden;
    min-height:220px;
    border:16px solid $white1;
    .row {
        align-items: stretch;
    }
    .thumbnail {
        text-align: center;
        .content {
            position:relative;
            min-height: 220px;
        }
        img {
            max-width: 320px;
            margin: 0 auto;
            position: absolute;
            bottom: -10px;
            left:50%;
            margin-left:-160px;
            margin-bottom:-10px;
        }
    }
    .details {
        text-align: center;
        position:relative;
        min-height:220px;
        display:inline-block;
        width:100%;
        z-index:1;
        .content {
            width:100%;
            position:absolute;
            top:60px;
        }            
        h3 {
            font-size: 26px;
            padding:0 5% 10px;
        }
        p {
            font-style: italic;
            font-size: 16px;
            margin-bottom: 0;
        }
    }
    &:hover .thumbnail img {
        margin-bottom: -1px;
        transition: margin-bottom .4s;
    }
}

@media only screen and (max-width: 1199px) {
    .projectcard {
        .details {min-height:140px;
            .content {top:60px;}
        }   
    }
}


@media only screen and (max-width: 991px) {
    .projectcard {
        .details {
            min-height:140px;
            .content {top:60px;}
        }   
    }
}

@media only screen and (max-width: 767px) {
    .projectcard {
        .details {min-height:80px;
            .content {top:30px;}
        h3 {
            font-size:20px;
            padding-bottom:0;
            }
        p {
            font-size:14px;
            line-height:1.4;
            }
        }   
    }
}








// ******************************************************************
// About/Contact bar on work pages
//*******************************************************************

.about-bar {
    background: $white2;
    padding:32px;
    .description {
        margin:24px 0;
        }
    .connect {
    text-align:center;
    padding:30px 20px 40px;
    background:$white1;
    border:10px solid $white3;
    max-width:320px;
    margin:32px auto;
    transform: rotate(1deg);
    h4 {
        @extend %ralewaybold;
        font-size:20px;
        letter-spacing:2.4px;
        color:$brown2; 
        margin-bottom:20px;
        }
    .email {
        color:$pink;
        @extend %ralewaysemi;
        font-size:16px;
        margin-bottom:20px;
        text-transform:uppercase;
        display:block;
        }
    }
}

@media only screen and (max-width: 991px) {
    .about-bar { 
        .description {text-align:center;}
        .connect {
            margin-top:0px;
            transform:rotate(0deg);
        }
        button {margin-top:20px;}
    }
}




// ******************************************************************
// Footer
//*******************************************************************


footer {
    background: $black1;
    border-top: 30px solid $black2;
    text-align: center;
    padding: 50px 0 60px;
    h4 {
        color: $tan4;
    }
    li {
        float: none;
        display:inline-block;
        margin: 0 20px 0 0;
        color:$tan1;
    }
    p {
        color:$tan1;
    }
    a {
        @extend %ralewaylight;
        text-transform: uppercase;
        font-size: 14px;
        color:$tan1;
        padding:0 15px;
    }
}

@media only screen and (max-width: 991px) {
    footer {
        padding:20px 0 60px;
        h4 {margin-top:60px;}
        p {}
    }
}






// ******************************************************************
// Carousel
//*******************************************************************

.slides {
    padding:20px 0 0px;
    .slick-next {right:-40px;}
    .slick-prev {left:-40px;}
    .slick-prev:before, 
    .slick-next:before {
        font-family: "slick";
        font-size: 30px;
        line-height: 1;
        color: $tan3;
        opacity: 0.75;
        -webkit-font-smoothing: antialiased;
    }
    .slick-dots {bottom:-30px; padding:0 10%;}
    .slick-dots li button:before {
        content: "●";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 16px;
        line-height: 20px;
    }    
    .slide {
        p {padding:0 30px;}
    }
}

@media only screen and (max-width: 990px) {
    .slides {padding-bottom:20px;}   
}

@media only screen and (max-width: 405px) {
    .slides {padding-bottom:40px;}   
}