
// ******************************************************************
// text defaults
//*******************************************************************


body {
    @extend %libre;
    color: $black1;
    line-height:1.2;
    font-size:16px;
    letter-spacing:0.6px;
    font-weight:400;
}

p {
    @extend %libre;
    margin-top:16px;
    line-height:1.4;

}

li {
    @extend %libre;
    margin-top:16px;
}

ul {margin-top:24px;}

section,
header,
footer,
main,
article,
nav,
aside {
    position: relative;
}

a {
    outline: none !important;
    text-decoration: none !important;
    transition: all 225ms ease;
    color: $teal;
    &:hover {
        color: $pink;
    }
}


h1, h2, h3, h4 {    
    letter-spacing:1.2px;
    margin-top:16px;
    margin-bottom:0;
}


h1 {
    font-size:58px;
    @extend %ralewaybold;
    color:$white2;
}


h2 {
    @extend %ralewaybold;
    font-size:26px;
    line-height:35px;
    text-transform:uppercase;
    color:$black2;
}


h3 {
    @extend %ralewaybold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing:1.25px;
}


h4 {
    @extend %raleway;
    font-size: 18px;
    text-transform:uppercase;
    letter-spacing:1.25px;
    line-height:20px;
}


h5 {
    @extend %raleway;
    font-size:12px;
    letter-spacing:1.5px;
    color:$white;
    line-height:24px;
}

img.responsive {width:100%;}

.frame {border:4px solid lighten($tan0,8%);}

.darkframe {border:1px solid $tan1;}

.shadow {box-shadow: 2px 2px 11px -4px rgba(68,68,68,1);}

@media only screen and (max-width: 990px) {
    h1 {font-size:24px;}
}