
$white0: #FCFCF7;
$white1: #FFFEFA;
$white2: #F0F0E9;
$white3: #B9B9B9;

    
$black1: #2C2C2C;
$black2: #323335;
$black3: #333;
$black4: #3F3F3F;

$yellow1: #E8BE4F;
$yellow2: #E0CFA2;

$teal : #40806A;

$pink: #C94A7A; 


$tan0: #F2F0DA;
$tan1: #E6E3C5;
$tan2: #E0CFA2;


$tangreen: #ABAF7D;

$lightgreen: #C6CCBC;
$lightergreen: darken($lightgreen,3%);
$green: #729673;

$darkgreen: darken($green,32%);

$brown1: #6B5D51;
$brown2: #605232;
$brown3: #333620;
$brown4: #2B2E1B;

$blue1: #86A3C5;
$blue2: #517C79;
$blue3: #4C716E;
$blue4: #2B403F;



%ralewaylight {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

%raleway {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
} 

%ralewaysemi {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

%ralewaybold {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

%noto {
    font-family: 'Libre Baskerville', serif;
    font-weight:400;
}

%libre {
    font-family: 'Libre Baskerville', serif;
    font-weight:400;
}

%librebold {
    font-family: 'Libre Baskerville', serif;
    font-weight:700;
}
