$white: #E2E5C0;

$tan1: #E4D297;
$tan2: #E6E3C5;
$tan3: #E0CFA2;
$tan4: #AEA07D;

$tangreen: #ABAF7D;

$green1: #84A585;
$green2: #7A9E7C;
$green3: #729673;
$green4: #578059;
$green5: #578059;

$brown1: #6B5D51;
$brown2: #605232;
$brown3: #333620;

$blue1: #86A3C5;
$blue2: #517C79;
$blue3: #4C716E;


%oswaldbold {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

%oswald {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

%oswaldlight {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

%lora {
    font-family: 'Lora', serif;
}
