{% include header.html %}

<main>
    <div class="about-page">

    <div class="hero" style="background-image:none">
            <!--  <h1 class="pagetitle" style="background:{{ page.color }};">{{ page.title }}</h1> -->
    <h1 class="pagetitle">{{ page.title }}</h1> 

        </div>
    
        
        <section class="bio">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <p>this is the photo</p>
                    </div>
                    <div class="col-md-8">
                        <p>"You are true savages. Already has begun the custom of wearing human  teeth. In another generation you will be perforating your noses and  ears and wearing ornaments of bone and shell. I know. The human race  is doomed to sink back farther and farther into the primitive night  ere again it begins its bloody climb upward to civilization. When we  increase and feel the lack of room, we will proceed to kill one another.  And then I suppose you will wear human scalp-locks at your waist, as  well&mdash;as you, Edwin, who are the gentlest of my grandsons, have already  begun with that vile pigtail. Throw it away, Edwin, boy; throw it away."</p>

                        <p>"What a gabble the old geezer makes," Hare-Lip remarked, when, the teeth  all extracted, they began an attempt at equal division.</p>

                        <p>They were very quick and abrupt in their actions, and their speech, in  moments of hot discussion over the allotment of the choicer teeth, was  truly a gabble. They spoke in monosyllables and short jerky sentences  that was more a gibberish than a language. And yet, through it ran hints  of grammatical construction, and appeared vestiges of the conjugation  of some superior culture. Even the speech of Granser was so corrupt that  were it put down literally it would be almost so much nonsense to the  reader. This, however, was when he talked with the boys.</p>                    </div>
                </div>
            </div>
        </section>

        <section class="stats">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="apps">
                            <h2>Experienced With</h2>
                            <ul>
                                <li>item</li>
                                <li>item</li>
                                <li>item</li>
                                <li>item</li>
                                <li>item</li>
                                <li>item</li>
                                <li>item</li>
                                <li>item</li>
                                <li>item</li>
                            </ul>
                        </div>
                    </div>
                    <div class="skills">
                        <div class="col-md-5">
                            <div class="card">
                                <h2>Skills</h2>
                                <ul>
                                    <li>skill *****</li>
                                    <li>skill *****</li>
                                    <li>skill *****</li>
                                    <li>skill *****</li>
                                    <li>skill *****</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="resume">
            <div class="container">
                <div class="row">
                    <div class="resume col-md-7">
                        <h2>Resume</h2>
                        <button type="button" class="btn btn-primary resmue">Download</button>
                    </div>
                </div>
            </div>
        </section>

        <section class="recommendations">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>When this interlude was over, Captain Mayhew began a dark story concerning Moby Dick; not, however, without frequent interruptions from Gabriel, whenever his name was mentioned, and the crazy sea that seemed leagued with him.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="sixpieces">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-push-4 page">
                        <h2>Six Pieces From My Professional Life</h2>
                    </div>
                    <div class="firstpieces col-md-4 col-md-pull-4">
                        <ul>
                            <li>This is one of the six pieces.</li>
                            <li>This is one of the six pieces.</li>
                            <li>This is one of the six pieces.</li>
                        </ul>
                    </div>
                    <div class="lastpieces col-md-4">
                        <ul>
                            <li>This is one of the six pieces.</li>
                            <li>This is one of the six pieces.</li>
                            <li>This is one of the six pieces.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        {% include about-bar.html %}

    </div>
</main>

{% include footer.html %}