{% include header.html %}

<main>
    <div class="about-page">

        <div class="hero">
            <h2 class="titlebar">About</h2>
        </div>
            
        <section class="bio">
            <div class="container">
                <div class="row">
                    
                    <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 col-md-4">                        
                        <div class="container-fluid">
                            <div class="row">
                                
                                <div class="biophoto col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-12">
                                    <img class="images frame responsive shadow" src="{{ site.data.global.url }}/images/about.jpg" />
                                </div>
                                
                                <div class="bioconnect col-xs-12 col-sm-6 col-md-12">    
                                    <div class="socialicons">
                                        <h3>Connect</h3>
                                        <a href="ma&#105;lto&#58;steve&#64;s%70%&#54;9n%6&#53;t&#114;ee&#46;&#111;&#114;&#103;" target="_blank">
                                            <i class="fa fa-envelope" aria-hidden="true" title=""></i>
                                        </a>
                                        <a href="https://www.linkedin.com/in/steverokitka" target="_blank">
                                            <i class="fa fa-linkedin" aria-hidden="true" title=""></i>
                                        </a>
                                        <a href="https://www.pinterest.com/spinetreemedia/" target="_blank">
                                            <i class="fa fa-pinterest" aria-hidden="true" title=""></i>
                                        </a>
                                        <a href="https://twitter.com/spinetree" target="_blank">
                                            <i class="fa fa-twitter" aria-hidden="true" title=""></i>
                                        </a>
                                        <a href="https://github.com/spinetree" target="_blank">
                                            <i class="fa fa-github" aria-hidden="true" title=""></i>
                                        </a>
                                    </div>
                                    <div class="resumebutton">
                                        <h3>Resume</h3>
                                        <button type="button" class="btn btn-primary resmue">Download</button>
                                    </div>
                                </div>

                                </div>
                            </div><!-- /container-fluid -->
                        </div><!-- /layout div -->
                            
                        <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 col-md-8">
                            <p>My name's Steve Rokitka (Rocketkar) - I'm a designer, writer and artist. I've been making things with words and images for most of my life, and doing it professionally for the better part of a decade. In that time I've designed a top-selling iOS app, created numerous websites and web assets, and designed enough t-shirts that they account for roughly half my wardrobe.</p> 

                            <p>I spent three of the last four years as UI/UX lead at a startup, building a complex generative music app and all the assets, marketing materials, websites, and promo schwag that goes along with it. Once the app was released, I decided to take some time off and cross a few (okay, most) of the items off my bucket list. I painted a house, bought a motorcycle and learned to ride, took a Wilderness First Responder course, spent six months learning to fix cars at a community college, and continued my training in Krav Maga.</p>

                            <p>Taking a break from design was really incredible in that it helped deprogram me from a lot of the things that were holding me back professionally. From working with cars I learned to find something to measure to determine whether a job was successful. From training Krav Maga I learned how even a master continues to train and retrain their fundamentals. From getting first responder certfication I learned how a professional doesn't show up to a situation and take on that situation's energy - they show up and set the tone for how a problem is going to get solved.</p> 

                            <p>Today, I'm back at work as a freelancer, and looking for awesome projets that I can be a part of. I've recently designed two novels, a corporate website, a nonprofit's brand identity, and in my opinion, I'm doing the best work of my life. If you've got something that needs solutions found, ideas given form, stories discovered or just a bit of snark interjected into a situation, drop me a line and let's get started.</p>
                        </div>
                            
                </div><!-- /row -->
            </div><!-- /container -->    
        </section>

        <section class="stats">
            <div class="container">
                <div class="row">
                    <div class="apps col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-0 ">
                            <h3>Favorite Tools</h3>
                            <ul>
                                <li>Photoshop</li>
                                <li>Illustrator</li>
                                <li>InDesign</li>
                                <li>SASS/SCSS</li>
                                <li>Jekyll</li>
                                <li>Bootstrap</li>
                                <li>Sketch</li>
                                <li>Axure RP</li>
                                <li>Wordpress</li>
                                <li>Liquid</li>
                                <li>Git</li>
                            </ul>
                    </div>
                    <div class="skills">
                        <div class="languages col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
                            <div class="content">
                                <h4>Languages</h4>
                                <ul>
                                    <li>HTML <span>fluent</span></li>
                                    <li>CSS <span>fluent</span></li>
                                    <li>Javascript <span>basic</span></li>
                                    <li>jQuery <span>conversational</span></li>
                                    <li>PHP <span>conversational</span></li>
                                    <li>Ruby <span>basic</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="resume">
            <div class="container">
                <div class="row">


                </div>
            </div>
        </section>

        <section class="recommendations">
            <div class="container">
                <div class="row">
                    <div class="quote col-sm-8 col-sm-offset-2">
                        <p>"When this interlude was over, Captain Mayhew began a dark story concerning Moby Dick; not, however, without frequent interruptions from Gabriel, whenever his name was mentioned, and the crazy sea that seemed leagued with him."</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="sixpieces">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-push-4 page">
                        <h2>Six Pieces From My Professional Life</h2>
                    </div>
                    <div class="firstpieces col-md-4 col-md-pull-4">
                        <ul>
                            <li>Be someone people can look forward to being around.</li>
                            <li>What someone wants and what they say they want are often different. Good listening means reading between the lines.</li>
                            <li>Don't promise all the time. Just do what you say you're going to do, or don't say it.</li>
                        </ul>
                    </div>
                    <div class="lastpieces col-md-4">
                        <ul>
                            <li>People aren't using their logical brains as much as they think. They feel their way through most things. This is  beautiful and terrifying and beautiful again.</li>
                            <li>Everyone really, really wants to feel listened to. You can disagree with someone and still make them feel listened to and treated with respect.</li>
                            <li>The way you do anything is the way you do everything. You can watch someone make a sandwich and it'll tell you everything, if you're paying attention.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

    </div>
</main>

{% include footer.html %}