{% include header.html %}

<main>

    <div class="about-page">

        <div class="bio">
            <div class="container">
                <h1>About</h1>
                <div class="row">
                    <div class="col-md-4">
                        <p>this is the photo</p>
                    </div>
                    <div class="col-md-8">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
        <div class="apps">
            <h2>Experienced With</h2>
            <ul>
                <li>item</li>
                <li>item</li>
                <li>item</li>
                <li>item</li>
                <li>item</li>
                <li>item</li>
                <li>item</li>
                <li>item</li>
                <li>item</li>
            </ul>
        </div>
        <div class="skills">
            <h2>Skills</h2>
            <ul>
                <li>skill *****</li>
                <li>skill *****</li>
                <li>skill *****</li>
                <li>skill *****</li>
                <li>skill *****</li>
            </ul>
        </div>
        <div class="resume">
            <h2>Resume</h2>
            <button type="button" class="btn btn-primary resmue">Download</button>
        </div>

        <div class="recommendations">
            <p>When this interlude was over, Captain Mayhew began a dark story concerning Moby Dick; not, however, without frequent interruptions from Gabriel, whenever his name was mentioned, and the crazy sea that seemed leagued with him.</p>
        </div>

        <div class="sixpieces">
            <h2>Six Pieces From My Professional Life</h2>
            <ol>
                <li>This is one of the six pieces.</li>
                <li>This is one of the six pieces.</li>
                <li>This is one of the six pieces.</li>
                <li>This is one of the six pieces.</li>
                <li>This is one of the six pieces.</li>
                <li>This is one of the six pieces.</li>
            </ol>
        </div>

        <div class="contact">
            {% include connect.html %}
            <div class="getintouch">
                <p>When he was within about fifty feet of me he unclasped an enormous metal armlet, and holding it toward me in the open palm of his hand, addressed me in a clear, resonant voice, but in a language, it is needless to say, I could not understand.</p>
                <button type="button" class="btn btn-primary resmue">Get in touch</button>
            </div>
        </div>
        
        
    </div>


</main>

{% include footer.html %}