{% include header.html %}

<main>
    
    <div class="frontpagehero">
        <div class="container">
            <div class="row">
                <div class="frontpage ">
                    <h1 class="hidden">Spinetree Media</h1>
                    <img src="/images/handLettering.png" />
                    <h4>We create value, solve problems &amp; tell stories</h4>
                    <h4>through the practical application</h4> 
                    <h4>of just about anything we can get our hands on.</h4>
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="thumbs">        
        <h2 class="titlebar"><a name="work">Work</a></h2>
        <div class="container-fluid">
            <div class="row">

                {% for post in site.posts reversed %}
                    {% if post.categories contains 'work' %}
                    <div class="projectcard container-fluid col-xs-12 col-md-6" style="background:{{post.color}}">
                      
                        <div class="row">
                            
                            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6">
                                <a href="{{ post.url }}" class="details">
                                  <div class="content">
                                      <h3>{{ post.title }}</h3>
                                    <p>{{ post.type }}</p>
                                    </div>      
                                </a>  
                            </div>
                            
                            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6">
                                <a href="{{ post.url }}" class="thumbnail ">
                                    <div class="content">
                                        <img src="{{ post.thumbnail }}" />
                                    </div>    
                                </a>    
                            </div>   
                            
                        </div><!-- /row -->
                        
                    </div>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    </div><!--thumbs -->

{% include about-bio.html %}

{% include reco-six.html %}    
    
</main>

{% include footer.html %}
