{% include header.html %}

<main>

    <div class="frontpagehero">
        <h1 class="hidden">Spinetree Media</h1>
        <img src="/images/handLettering.png" />
        <h5>we create value, solve problems &amp; tell stories</h5>
        <h5>through the practical application</h5> 
        <h5>of anything we can get our hands on</h5>
    </div>

    <div class="thumbs">

        <h2 class="pagetitle">Work</h2>

          <div class="container-fluid">
            <div class="row">
                
                {% for post in site.posts reversed %}
                    {% if post.categories contains 'work' %}
                    <div class="projectcard container-fluid col-xs-12 col-md-6" style="background:{{post.color}}">
                        <div class="row">
                            <a href="{{ post.url }}" class="meta col-xs-12 col-sm-6 col-md-12 col-lg-6">
                                <h3>{{ post.title }}</h3>
                                <p>{{ post.type }}</p>
                            </a>                      
                            <a href="{{ post.url }}" class="thumbnail col-xs-12 col-sm-6 col-md-12 col-lg-6">
                                <img src="{{ post.thumbnail }}" />
                            </a>    
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
        
    </div>

    <div class="about">
        <h2>About</h2>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <p>By this time their destined victim appeared from his cabin. He was a small and dark, but rather delicate looking man for a sea-captain, with large whiskers and moustache, however; and wore a red cotton velvet vest with watch-seals at his side. To this gentleman, Stubb was now politely introduced by the Guernsey-man, who at once ostentatiously put on the aspect of interpreting between them.</p>
                    <button type="button" class="btn btn-primary">Read More</button>
                </div>
                <div class="col-xs-12 col-md-4">
                    {% include connect.html %}
                </div>
            </div>
        </div>
    </div>

</main>

{% include footer.html %}
