{% include header.html %}

<main>
    
    <div class="frontpagehero">
        <div class="container">
            <div class="row">
                <div class="frontpage ">
                    <img class="responsive" src="/images/lockup.svg" alt="steve rocketkar full stack product designer" />
                    <h1 class="hidden">steve rokitka(rocketkar)</h1>
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="thumbs">        
        <h2 class="titlebar"><a name="work">Work</a></h2>
        <div class="container-fluid">
            <div class="row">

                {% for post in site.posts reversed %}
                    {% if post.categories contains 'work' %}
                    <div class="projectcard container-fluid col-xs-12 col-md-6" style="background:{{post.color}}">
                      
                        <div class="row">
                            
                            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6">
                                <a href="{{ post.url }}" class="details">
                                  <div class="content">
                                      <h3>{{ post.title }}</h3>
                                    <h4>{{ post.type }}</h4>
                                    </div>      
                                </a>  
                            </div>
                            
                            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6">
                                <a href="{{ post.url }}" class="thumbnail ">
                                    <div class="content">
                                        <img src="{{ post.thumbnail }}" />
                                    </div>    
                                </a>    
                            </div>   
                            

                        </div><!-- /row -->
                        
                    </div>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    </div><!--thumbs -->


    <div class="about">
    
            <a name="about">
                <h2 class="titlebar">About</h2>
            </a>
            
            <section class="bio">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 col-md-4 col-md-offset-1">                        
                            <div class="container-fluid">
                                <div class="row">
                                    
                                    <div class="biophoto col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-11 col-md-offset-1">
                                        <img class="images responsive" src="{{ site.data.global.url }}/images/about.jpg" />
                                    </div>
                                    
                                    <div class="bioconnect hidden-xs hidden-sm visible-md visible-lg col-md-11 col-md-offset-1">    
                                        <div class="socialicons">
                                            <h4>Connect</h4>
                                            <a href="ma&#105;lto&#58;steve&#64;s%70%&#54;9n%6&#53;t&#114;ee&#46;&#111;&#114;&#103;" target="_blank">
                                                <i class="fa fa-envelope" aria-hidden="true" title=""></i>
                                            </a>
                                            <a href="https://www.linkedin.com/in/steverokitka" target="_blank">
                                                <i class="fa fa-linkedin" aria-hidden="true" title=""></i>
                                            </a>
                                            <a href="https://www.instagram.com/rocketkar/" target="_blank">
                                                <i class="fa fa-instagram" aria-hidden="true" title=""></i>
                                            </a>
                                            <a href="https://twitter.com/spinetree" target="_blank">
                                                <i class="fa fa-twitter" aria-hidden="true" title=""></i>
                                            </a>
                                            <a href="https://github.com/spinetree" target="_blank">
                                                <i class="fa fa-github" aria-hidden="true" title=""></i>
                                            </a>
                                        </div>
                                        <div class="resumebutton">
                                            <h4>Resume</h4>
                                            <a href="{{ site.data.global.url }}/images/rokitka-resume.pdf" target"_blank">
                                                <button type="button" class="btn btn-primary resume">Download</button>
                                            </a>
                                        </div>
                                    </div>
    
                                    </div>
                                </div><!-- /container-fluid -->
                            </div><!-- /layout div -->
                                
                            <div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-6">
                                                            
                                <p>My name's Steve Rokitka (aka Rocketkar) and I'm a full-stack product designer. What's that mean exactly? It means someone with the skills to look at a business need, research the problem space, then design, test and build solutions from prototype to production. Think of me as a designer who can code, or an engineer who can bring a designer's eye to a user interface.</p> 
                                
                                <p>My career's always been a multidisciplinary one. I started out as a writer and illustrator, turned UI/UX designer, and rolled everything together with a liberal coating of usability research and developer training at Cornell University and Code Fellows Seattle. I've gone deepest on mobile apps, UI/pattern library creation and ecommerce design, along with some great indie publishing and brand/identity projects on the side.</p>
                                
                                <p>When I'm not crafting various parts of the internet, I go on adventures that give me an excuse to learn new things. In the last couple years I've painted a house, rode a motorcycle to Burning Man, got Wilderness First Responder certified, learned to fix cars at a community college, and continued my training in various martial arts.</p>
    
                                <p>Today, I'm looking for awesome projects that I can be a part of. If you've got something that needs solutions found, ideas given form, stories discovered or just a bit of snark injected into a situation, drop me a line and let's get started.</p>
                            </div>
                        
                            <div class="bioconnect mobile col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3 visible-xs visible-sm">    
                                <div class="socialicons">
                                    <h4>Connect</h4>
                                    <a href="ma&#105;lto&#58;steve&#64;s%70%&#54;9n%6&#53;t&#114;ee&#46;&#111;&#114;&#103;" target="_blank">
                                        <i class="fa fa-envelope" aria-hidden="true" title=""></i>
                                    </a>
                                    <a href="https://www.linkedin.com/in/steverokitka" target="_blank">
                                        <i class="fa fa-linkedin" aria-hidden="true" title=""></i>
                                    </a>
                                    <a href="https://www.instagram.com/rocketkar/" target="_blank">
                                        <i class="fa fa-instagram" aria-hidden="true" title=""></i>
                                    </a>
                                    <a href="https://twitter.com/spinetree" target="_blank">
                                        <i class="fa fa-twitter" aria-hidden="true" title=""></i>
                                    </a>
                                    <a href="https://github.com/spinetree" target="_blank">
                                        <i class="fa fa-github" aria-hidden="true" title=""></i>
                                    </a>
                                </div>
                                <div class="contactbutton">
                                    <a href="mailto:steve@spinetree.org">
                                        <button type="button" class="btn btn-primary resume">email</button>
                                    </a>                             
                            </div>
    
                    </div><!-- /row -->
                </div><!-- /container -->    
            </section>
    
            
            <section class="stats">
                <a name="skills">
                        <h2 class="titlebar">Skills</h2>
                    </a>
                <div class="container">
                    <div class="row">
                        <div class="apps col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-4 ">
                                <h4>Proficient with</h4>
                                <ul>
                                    <li>Sketch</li>
                                    <li>Axure RP</li>
                                    <li>InVision</li>
                                    <li>Zeplin</li>
                                    <li>Abstract</li>
    
                                    <li>Photoshop</li>
                                    <li>Illustrator</li>
                                    <li>InDesign</li>
                                    
                                    <li>Trello</li>
                                    <li>Confluence</li>
    
                                    <li>Git/SVN</li>
                                    <li>VSCode</li>
                                    <li>SASS/SCSS</li>
                                    <li>Jekyll</li>
                                    <li>Node</li>
                                    <li>Express.js</li>
                                    <li>Handlebars</li>
                                    <li>EJS</li>
                                    <li>SQL</li>
                                    <li>Static site generators (JS/Ruby)</li>
    
    
                                </ul>
                        </div>
                        <div class="apps col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-4 col-md-push-4">
                                <h4>Specialties</h4>
                                <ul>
                                    <li>Mobile UI</li>
                                    <li>Large CSS/SCSS codebases</li>
                                    <li>Pattern libraries</li>
                                    <li>Illustration</li>
                                    <li>CMS Themeing</li>
                                    <li>UX Research &amp; Testing</li>
                                    <li>Interviews and ethnographic analysis</li>
                                    <li>Mentoring/Training</li>
                                </ul>
                        </div>
    
                        <div class="skills">
                            <div class="languages col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-pull-4 col-md-offset-0">
                                <div class="content">
                                    <h4>Languages</h4>
                                    <ul>
                                        <li>CSS/SCSS <span>native</span></li>
                                        <li>HTML5 <span>fluent</span></li>
                                        <li>Javascript <span>conversational</span></li>
                                        <li>jQuery <span>conversational</span></li>
                                        <li>Node <span>conversational</span></li>
                                        <li>PHP <span>conversational</span></li>
                                        <li>Ruby <span>basic</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        
            {% include recommendations.html %}    
        </div><!-- /about -->
        {% include sixpieces.html %}    
        
        
    </main>
    {% include contact-bar.html %}    

{% include footer.html %}
